@model Barang
@{
	Layout = "UserLayout";
}

<style>
	@@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');

$all: all .5s ease;
$sai: 'Saira Semi Condensed', sans-serif;

*{
    @@include tf($tf-fm: $sai);
    @@include other($ot-tsi: $all)
}

body{
    background: #dfdfdf
}

.container{
    @@include bm(100%, 100%, $bm-pd: 0 16px, $bm-dp: $fl);
    @@include flex-center($rnw)
}

form{
    @@include bm(400px, $bm-dp: $fl);
    @@include flex-center($cw);
        div, label, input, textarea{
            @@include bm(100%)
        }
}

.field:nth-of-type(2){
    @@include bm($bm-mg: 16px 0)
}

label, input, textarea{
    @@include bm($bm-pd: 8px)
}

label, [placeholder]{
    @@include tf(#555)
}

label i{
    @@include bm($bm-mg: 0 10px 0 0)
}

.field:focus-within label{
    @@include tf(#000, $tf-ls: 2px)
}

input, textarea{
    background: rgba(255,255,255,.5);
    border: none;
    @@include other($ot-br: 4px, $ot-bs: $o-b);
        &:focus{
            background: rgba(255,255,255,1);
            @@include other($ot-bs: none)
        }
}

textarea{
    resize: none;
        &::-webkit-scrollbar{
            @@include bm(0)
        }
}

button{
    background: #2f4ad0;
    @@include bm($bm-pd: 8px 16px, $bm-mg: 16px 0 50px 0);
    @@include tf(#fff);
    border: none;
    @@include other($ot-br: 4px, $ot-cr: pointer, $ot-bs: $o-b);
        &:hover{
            @@include tf($tf-ls: 2px);
            @@include other($ot-bs: none)
        }
}

@@media (max-width: 425px){
    form{
        @@include bm(100%)
    }
}
</style>
<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				@*<form enctype="multipart/form-data" method="post" action="pesan" >
					<input type="hidden" name="barangId" value="@Model.Id">
					<div class="mb-3">
						<label>Name</label>
						<input type="hidden" name="Name" value="@Model.Name" class="form-control" />
						<div>@Model.Name</div>
					</div>
					<div class="mb-3">
						<a href="#" class="image">
							<img width="300px" height="300px" src="~/upload/@Model.Photo">
							<input type="hidden" name="Photo" value="~/upload/@Model.Photo" class="form-control" />
						</a>
					</div>
					<div class="mb-3">
						<label>Harga</label>
						<input type="hidden" name="Harga" value="@Model.Harga" class="form-control" />
						<span>@Model.Harga</span>
					</div>
`					<div class="mb-3">
						<label>Nama</label>
						<input type="text" name="NamaLengkap" class="form-control" />
					</div>
					<div class="mb-3">
						<label>Alamat</label>
						<input type="text" name="Alamat" class="form-control" />
					</div>
					<div class="mb-3">
						<label>No Telepon</label>
						<input type="text" name="NoTelepon" class="form-control" />
					</div>
					<div class="mb-3">
						<button onclick="myalert()" type="submit" class="btn btn-success">
							Save
						</button>
					</div>
				</form>*@
					<div class="container">
					<div class="card-header">
						<center>
						<h1>Pesanan</h1>
						</center>
					</div>

					<form enctype="multipart/form-data" method="post" action="pesan">
							<input type="hidden" name="barangId" value="@Model.Id">
						<div class="field" tabindex="3">
							<label for="message">
								<i class="far fa-edit"></i>Name
							</label>
							<input type="hidden" name="Name" value="@Model.Name" class="form-control" />
							<div>@Model.Name</div>
						</div>
							<div class="field" tabindex="2">
								<label for="email">
									<i class="far fa-envelope">Photo</i>
								</label>
								<br />
								<a href="#" class="image">
									<img width="300px" height="300px" src="~/upload/@Model.Photo">
									<input type="hidden" name="Photo" value="~/upload/@Model.Photo" class="form-control" />
								</a>
							</div>
						<div class="field" tabindex="1">
							<label for="message">
								<i class="far fa-edit"></i>Harga
							</label>
							<input type="hidden" name="Name" value="@Model.Harga" class="form-control" />
							<div>@Model.Harga</div>
						</div>
							<div class="field" tabindex="3">
								<label for="message">
									<i class="far fa-edit"></i>Nama Lengkap
								</label>
								<input type="text" name="NamaLengkap" class="form-control" />
							</div>
							<div class="field" tabindex="3">
								<label for="message">
									<i class="far fa-edit"></i>Alamat
								</label>
								<input type="text" name="Alamat" class="form-control" />
							</div>
							<div class="field" tabindex="3">
									<label for="message">
										<i class="far fa-edit"></i>No Telpon
									</label>
								<input type="text" name="NoTelepon" class="form-control" />
							</div>
							<br />
						<button onclick="myalert()" type="submit" class="btn btn-success">
							Save
						</button>
						</form>
					</div>

					<!-- This is not part of Pen -->
					<a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank" style="color:#000"></a>
				<script>
					function myalert() {
						alert("Terima kasih telah berbelanja, tunggu sampai pesanan anda datang");
					}
				</script>
			</div>
		</div>
	</div>
</div>
