@model Barang
@{
	Layout = "UserLayout";
}

<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h3>Pesanan</h3>
			</div>

			<div class="card-body">
				<form enctype="multipart/form-data" method="post" action="pesan">
					<input type="hidden" name="barangId" value="@Model.Id">
					<div class="mb-3">
						<label>Name</label>
						<input type="hidden" name="Name" value="@Model.Name" class="form-control" />
						<div>@Model.Name</div>
					</div>
					<div class="mb-3">
						<a href="#" class="image">
							<img width="300px" height="300px" src="~/upload/@Model.Photo">
							<input type="hidden" name="Photo" value="~/upload/@Model.Photo" class="form-control" />
						</a>
					</div>
					<div class="mb-3">
						<label>Harga</label>
						<input type="hidden" name="Harga" value="@Model.Harga" class="form-control" />
						<span>@Model.Harga</span>
					</div>
`					<div class="mb-3">
						<label>Nama</label>
						<input type="text" name="NamaLengkap" class="form-control" />
					</div>
					<div class="mb-3">
						<label>Alamat</label>
						<input type="text" name="Alamat" class="form-control" />
					</div>
					<div class="mb-3">
						<label>No Telepon</label>
						<input type="text" name="NoTelepon" class="form-control" />
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-success">
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

